@model FlightTicketManager.Data.Entities.City

@{
    ViewData["Title"] = "Delete City";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="card-container">
    <div class="card">
        <h2 class="card-title text-center">Are you sure you want to delete this city?</h2>
        <hr />

        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.Name)</strong>
            @Html.DisplayFor(model => model.Name)
        </div>
        
        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.CountryCode)</strong>
            @Html.DisplayFor(model => model.CountryCode)
        </div>

        <hr />
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button type="submit" class="btn btn-danger" style="width: auto">
                <i class="fa-solid fa-trash"></i> Delete
            </button>
            <a asp-action="Index" class="btn btn-secondary" style="width: auto">
                <i class="fa-solid fa-arrow-left"></i> Cancel
            </a>
        </form>
    </div>
</div>

