@model IEnumerable<FlightTicketManager.Data.Entities.Flight>

@{
    ViewData["Title"] = "AvailableFlights";
}

<h1>Available Flights list</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aircraft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeatsNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aircraft.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin.Name) <br />
                    @if (!string.IsNullOrEmpty(item.Origin.FlagUrl))
                    {
                        <img src="@Url.Content(item.Origin.FlagUrl)" alt="Image" style="width:50px;height:30px;max-width:100%;height:auto">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination.Name) <br />
                    @if (!string.IsNullOrEmpty(item.Destination.FlagUrl))
                    {
                        <img src="@Url.Content(item.Destination.FlagUrl)" alt="Image" style="width:50px;height:30px;max-width:100%;height:auto">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeatsNumber)
                </td>
                <td>
                    @if (!this.User.IsInRole("Admin") && !this.User.IsInRole("Employee"))
                    {
                        <a asp-action="BuyTicket" asp-route-id="@item.Id">Buy ticket</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}