@model FlightTicketManager.Models.FlightSearchViewModel
@{
    ViewData["Title"] = "Home Page";
    var minDate = DateTime.UtcNow;
}

<h1 class="display-4 font-weight-bold">The Best Destinations & Ticket Prices</h1>
<p class="lead">Book your next journey with ease!</p>

@if (!this.User.IsInRole("Admin"))
{
    @if (Model.FlightsResults != null && Model.FlightsResults.Any())
    {
        <div class="card-container">
            <div class="card">
                <h2 class="card-title text-center">Search Result</h2>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="text-center align-middle">
                            <th class="text-center align-middle">
                                Flight Number
                            </th>
                            <th class="text-center align-middle">
                                Departure
                            </th>
                            <th class="text-center align-middle">
                                Duration
                            </th>
                            <th class="text-center align-middle">
                                Arrival
                            </th>
                            <th class="text-center align-middle">
                                Origin
                            </th>
                            <th class="text-center align-middle">
                                Destination
                            </th>
                            <th class="text-center align-middle">
                                Aircraft
                            </th>
                            <th class="text-center align-middle">
                                Available Seats
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var flight in Model.FlightsResults)
                        {
                            <tr class="text-center align-middle">
                                <td class="text-center align-middle">
                                    <strong>@flight.FlightNumber</strong>
                                </td>
                                <td class="text-center align-middle">
                                    <strong>@flight.DepartureDateTime</strong>
                                </td>
                                <td class="text-center align-middle">
                                    <strong>@flight.FlightDuration</strong>
                                </td>
                                <td class="text-center align-middle">
                                    <strong>@flight.ArrivalTime</strong>
                                </td>
                                <td class="text-center align-middle">
                                    <img src="@Url.Content(flight.Origin.FlagUrl)" alt="Flag" class="mr-2" style="width:30px;"><br />
                                    <strong>@flight.Origin.Name</strong>
                                </td>
                                <td class="text-center align-middle">
                                    <img src="@Url.Content(flight.Destination.FlagUrl)" alt="Flag" class="mr-2" style="width:30px;"><br />
                                    <strong>@flight.Destination.Name</strong>
                                </td>
                                <td class="text-center align-middle">
                                    <strong>@flight.Aircraft.Data</strong>
                                </td>
                                <td class="text-center align-middle">
                                    <strong>@flight.AvailableSeatsNumber</strong>
                                </td>
                                <td class="text-center align-middle">
                                    @if (!this.User.IsInRole("Employee"))
                                    {
                                        <a asp-action="BuyTicket" class="btn btn-success" asp-route-id="@flight.Id">
                                            <i class="fa-solid fa-ticket"></i> Buy Ticket
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="text-center align-middle">
                    <a asp-action="Index" class="btn btn-secondary" style="width: auto">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                </div>
            </div>
        </div>
    }

    <div class="card-container" style="justify-content: space-between;" id="searchCard">
        <div class="card" style="background-color:transparent">
            <h2 class="card-title text-center">Search Flights</h2>
            <form asp-action="SearchFlights" method="post">
                <div class="form-group">
                    <label asp-for="DepartureDateTime" class="control-label"></label>
                    <ejs-datetimepicker name="DepartureDateTime" id="datetimepicker" min="@minDate" format="dd/MM/yyyy HH:mm" placeholder="Select the date and time"></ejs-datetimepicker>
                    <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedOrigin" class="control-label"></label>
                    <select asp-for="SelectedOrigin" asp-items="Model.Cities" class="form-control">
                        <option value="">-- Select Origin --</option>
                    </select>
                    <span asp-validation-for="SelectedOrigin" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedDestination" class="control-label"></label>
                    <select asp-for="SelectedDestination" asp-items="Model.Cities" class="form-control">
                        <option value="">-- Select Destination --</option>
                    </select>
                    <span asp-validation-for="SelectedDestination" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass"></i> Search
                    </button>
                    <!-- Spinner -->
                    <div id="loadingSpinner" class="spinner-border text-primary" style="display: none;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                @if(Model.FlightsResults != null)
                {
                <div>
                    <p><strong>No flights found.</strong></p>
                </div>
                }
            </form>
            
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var originSelect = document.getElementById('SelectedOrigin');
            var destinationSelect = document.getElementById('SelectedDestination');

            function updateOptions() {
                var origin = originSelect.value;
                var destination = destinationSelect.value;

                for (var i = 0; i < destinationSelect.options.length; i++) {
                    var option = destinationSelect.options[i];
                    if (option.value === origin) {
                        option.disabled = true;
                    } else {
                        option.disabled = false;
                    }
                }

                for (var i = 0; i < originSelect.options.length; i++) {
                    var option = originSelect.options[i];
                    if (option.value === destination) {
                        option.disabled = true;
                    } else {
                        option.disabled = false;
                    }
                }
            }

            originSelect.addEventListener('change', updateOptions);
            destinationSelect.addEventListener('change', updateOptions);

            updateOptions();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                var origin = $('#SelectedOrigin').val();
                var destination = $('#SelectedDestination').val();

                // Don't show spinner if no origin and destination are selected
                if (!origin || !destination) {
                    e.preventDefault(); 
                    return false; 
                }

                $('#loadingSpinner').show();
                $('input[type="submit"]').attr('disabled', true);
            });

            // Hide search card if flights are found
            var flightResults = @Json.Serialize(Model.FlightsResults != null && Model.FlightsResults.Any());
            if (flightResults) {
                $('#searchCard').hide(); // Hide the search card
            }

            $(window).on('load', function () {
                $('#loadingSpinner').hide();
                $('input[type="submit"]').attr('disabled', false);
            });
        });
    </script>
}
