@model FlightTicketManager.Data.Entities.Ticket

@{
    ViewData["Title"] = "Ticket Confirmation";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="card-container">
    <div class="card">
        <div class="alert alert-success text-center" role="alert">
            Your ticket has been successfully purchased!
        </div>
        <div class="card-body">

            <div class="mb-1">
                <label><strong>@Html.DisplayNameFor(model => model.Flight.FlightNumber)</strong></label>
                <p>@Html.DisplayFor(model => model.Flight.FlightNumber)</p>
            </div>

            <div class="mb-1">
                <label><strong>@Html.DisplayNameFor(model => model.Flight.DepartureDateTime)</strong></label>
                <p>@Html.DisplayFor(model => model.Flight.DepartureDateTime)</p>
            </div>

            <div class="mb-1">
                <label><strong>@Html.DisplayNameFor(model => model.Flight.Origin)</strong></label>
                <p>@Html.DisplayFor(model => model.Flight.Origin.Name)</p>
                <p>@Html.DisplayFor(model => model.Flight.OriginAirport)</p>
            </div>

            <div class="mb-1">
                <label><strong>@Html.DisplayNameFor(model => model.Flight.Destination)</strong></label>
                <p>@Html.DisplayFor(model => model.Flight.Destination.Name)</p>
                <p>@Html.DisplayFor(model => model.Flight.DestinationAirport)</p>
            </div>

            <div class="mb-1">
                <label><strong>@Html.DisplayNameFor(model => model.Seat)</strong></label>
                <p>@Html.DisplayFor(model => model.Seat)</p>
            </div>

            <div class="mb-1">
                <label><strong>@Html.DisplayNameFor(model => model.PassengerName)</strong></label>
                <p>@Html.DisplayFor(model => model.PassengerName)</p>
            </div>

            <div class="mb-1">
                <label><strong>@Html.DisplayNameFor(model => model.PassengerId)</strong></label>
                <p>@Html.DisplayFor(model => model.PassengerId)</p>
            </div>

            <div class="mb-1">
                <label><strong>@Html.DisplayNameFor(model => model.PassengerBirthDate)</strong></label>
                <p>@Html.DisplayFor(model => model.PassengerBirthDate)</p>
            </div>

            <div class="text-center mt-3">
                <a asp-action="MyFlights" class="btn btn-primary" style="width:auto">
                    <i class="fa-solid fa-plane-departure"></i> My Flights
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa-solid fa-house"></i> Homepage
                </a>
            </div>
        </div>
    </div>
</div>


