@model FlightTicketManager.Data.Entities.Aircraft

@{
    ViewData["Title"] = "Delete Aircraft";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="card-container">
    <div class="card">
        <h2 class="card-title text-center">Are you sure you want to delete this aircraft?</h2>
        <hr />
        <div class="mb-3">
            <strong>@Html.DisplayNameFor(model => model.Description)</strong>
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="mb-3">
            <strong>@Html.DisplayNameFor(model => model.Airline)</strong>
            @Html.DisplayFor(model => model.Airline)
        </div>

        <div class="mb-3">
            <strong>@Html.DisplayNameFor(model => model.Capacity)</strong>
            @Html.DisplayFor(model => model.Capacity)
        </div>

        <div class="mb-3">
            <strong>@Html.DisplayNameFor(model => model.IsActive)</strong>
            @Html.DisplayFor(model => model.IsActive)
        </div>

        <div class="mb-3">
            <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:200px;height:300px;max-width:100%;height:auto">
        </div>

        <hr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button type="submit" class="btn btn-danger" style="width: auto">
                <i class="fa-solid fa-trash"></i> Delete
            </button>
            <a asp-action="Index" class="btn btn-secondary" style="width: auto">
                <i class="fa-solid fa-arrow-left"></i> Cancel
            </a>
        </form>
    </div>
</div>

