@model IEnumerable<FlightTicketManager.Models.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Users List</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Roles
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userRole in Model)
        {
            <tr>
                <td>
                    @userRole.User.FirstName @userRole.User.LastName
                </td>
                <td>@userRole.User.Email</td>
                <td>
                    @string.Join(", ", userRole.Roles)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@userRole.User.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@userRole.User.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
