@model FlightTicketManager.Data.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="card-container">
    <div class="card">
        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.FlightNumber)</strong>
            @Html.DisplayFor(model => model.FlightNumber)
        </div>
        
        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.Aircraft)</strong>
            @Html.DisplayFor(model => model.Aircraft.Data)
        </div>
        
        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.DepartureDateTime)</strong>
            @Html.DisplayFor(model => model.DepartureDateTime)
        </div>
        
        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.FlightDuration)</strong>
            @Html.DisplayFor(model => model.FlightDuration)
        </div>
        
        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.Origin)</strong>
            @Html.DisplayFor(model => model.Origin.Name)
        </div>
        
        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.Destination)</strong>
            @Html.DisplayFor(model => model.Destination.Name)
        </div>
        
        <div class="mb-2">
            <strong>@Html.DisplayNameFor(model => model.AvailableSeats)</strong>
            @Html.DisplayFor(model => model.AvailableSeatsNumber)
        </div>
        
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-edit" style="width: auto">
                <i class="fa-solid fa-pen-to-square"></i> Edit
            </a>
            <a asp-action="Index" class="btn btn-secondary" style="width: auto">
                <i class="fa-solid fa-arrow-left"></i> Cancel
            </a>
        </div>
    </div>
</div>

