@model IEnumerable<FlightTicketManager.Data.Entities.FlightHistory>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center align-middle">Flights History</h1>

<div class="card-container">
    <div class="card">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FlightNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AircraftModelId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartureDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Origin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OriginAirport)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Destination)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DestinationAirport)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.FlightNumber)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.AircraftModelId)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.DepartureDateTime)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.Origin)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.OriginAirport)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.Destination)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.DestinationAirport)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>